@font-face {
    font-family: "Roboto Slab";
    src: url("./RobotoSlab.ttf")
}

/* Variaveis */
:root {
    --main-bg-color: #000000;
    --main-primary-color: #ffffff;
    --main-accent-color: #3a4466;
}

/* Fonte Global */
body {
    font-family: 'Roboto Slab';
    font-size: 100%;
    background-color: var(--main-bg-color);
}

/* Container do site */
.site-container {
    margin: auto;
    width: 800px;
}

/* DEFINIÇÕES DO GRID */
.grid-container {
    display: grid;
    grid-template-areas: 
        'main menu'
        'footer footer';
    grid-template-columns: 640px 160px;
    grid-template-rows: 480px 120px;
    grid-gap: 2px;
}

.grid-container > div {
    border: 1px solid var(--main-primary-color);
    color: var(--main-primary-color);
    border-radius: 2px;
}

.menu-container {grid-area: menu}
.tela-container {grid-area: main}
.text-container {grid-area: footer; position: relative}

/* ELEMENTOS DA TELA */
/* Menus */
ul {
    list-style: none;
    text-transform: uppercase;
    padding: 0px;
    margin: 16px;
}

ul:not(.menu-items) {
    text-transform: capitalize;
}

li {
    font-size: 90%;
}

li:hover {
    cursor: pointer;
    padding-left: 6px;
    background-color: var(--main-accent-color);
}

/* Texto */
.text-conteudo {
    padding: 16px;
}

.text-next {
    position: absolute;
    font-size: 10pt;
    text-transform: uppercase;
    padding: 6px;
    right: 0;
    bottom: 0;
}
  
button {
    background-color: black;
    border: 1px solid white;
    color: white;
}