@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

/* Variaveis */
:root {
    --main-bg-color: #000000;
    --main-primary-color: #ffffff;
}

/* Fonte Global */
body {
    font-family: 'Roboto Slab', serif;
    background-color: var(--main-bg-color);
}

/* Container do site */
.site-container {
    margin: auto;
    width: 800px;
}

/* DEFINIÇÕES DO GRID */
.grid-container {
    display: grid;
    grid-template-areas: 
        'menu main'
        'footer footer';
    grid-template-columns: 160px 640px;
    grid-template-rows: 480px 120px;
    grid-gap: 2px;
}

.grid-container > div {
    border: 1px solid var(--main-primary-color);
    color: var(--main-primary-color);
    border-radius: 2px;
}

.menu-container {grid-area: menu}
.tela-container {grid-area: main}
.text-container {grid-area: footer; position: relative}

/* ELEMENTOS DA TELA */
/* Menus */
ul {
    list-style: none;
    text-transform: uppercase;
    padding: 0px;
    margin: 16px;
}

ul:not(.menu-items) {
    text-transform: capitalize;
}

li:hover {
    cursor: pointer;
    font-weight: bold;
    border-left: 1px solid var(--main-primary-color);
    padding-left: 4px;
}

li:active {
    background-color: var(--main-primary-color);
    color: var(--main-bg-color);
    font-weight: bold;
}

/* Texto */
.text-conteudo {
    padding: 16px;
    transform: color 1.5s;
}

.text-next {
    position: absolute;
    border: 1px solid white;
    font-size: 10pt;
    padding: 6px;
    right: 0;
    bottom: 0;
}
  
button {
    background-color: black;
    color: white;
}